body {
	background-color: #222;
	color: white;
}


.main-icon,
.character-grid-header {
	animation: fadeEffect 1s;
}
.main-page-header {
	animation: fadeEffect 2s;
}


@font-face {
	font-family: 'DDSoJFont';
	src: url('/Scripts/AAO%20HD%20UI/KozGoPro-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'DDSoJFont', sans-serif;
}


.character-grid,
.main-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0 40px;
	justify-content: center;
}
.character-grid a {
	color: inherit;
	text-decoration: none;
}


.character-grid-header p {
	margin-top: 35px;
	margin-bottom: -10px;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
}


.character-card {
	width: 125px;
	text-align: center;
}

.place-card,
.court-card {
	text-align: center;
}

.character-card p,
.place-card p,
.court-card p {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1.25;
	word-wrap: break-word;
}

.character-card button,
.place-card button,
.court-card button {
	margin-top: 5px;
}

.character-icon:hover,
.main-icon:hover {
	transform: scale(1.05);
}


.court-image {
	position: relative;
	display: inline-block;
	height: 192px;
}
.bg {
	display: block;
	width: auto;
	height: 192px;
}
.fg {
	position: absolute;
	top: 0;
	left: 0;
	height: 192px;
	width: auto;
	z-index: 2;
	pointer-events: none;
}


table, th, td {
	border: 1px solid #FFF;
	border-collapse: collapse;
}


.main-page-header p {
	margin-top: 10px;
	margin-bottom: -5px;
	font-weight: bold;
	font-size: 250%;
	text-align: center;
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


.main-icon {
	position: relative;
	overflow: hidden;
	width: 300px;
	padding: 20px;
	border: 2px solid #fff;
}
.main-icon p {
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.main-character::before,
.main-character::after,
.main-background::before,
.main-text-turorial::before,
.main-aao-turorial::before,
.main-script::before,
.main-script::after,
.main-evidence::before,
.main-evidence::after,
.main-ds::before,
.main-ds::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;
}


.main-character::before {
	height: 250%;
	transform: translateX(-25%);
	background: url('/Characters/AA4/Apollo Justice/Confident Grin.svg') no-repeat center left / auto 150%;
	opacity: 0.85;
}
.main-character::after {
	background: url('/Backgrounds/Courtrooms/AA5 5-5 Defense BG.svg') no-repeat center left / 100% auto;
	opacity: 0.4;
	z-index: -2;
}


.main-background::before {
	background: url('/Backgrounds/AA1/Wright and Co. Law Offices.svg') no-repeat center left / 100% auto;
	opacity: 0.4;
}


.main-text-turorial::before {
	background: url('images/Text Tutorial Icon.png') no-repeat center left / 100% auto;
	opacity: 0.4;
}


.main-aao-turorial::before {
	height: calc(100% + 35px); 
	background: url('/AAO Tutorial Assets/Backgrounds/Lesson 2.2/Inkscape Demo 05.svg') no-repeat center left / 100% auto;
	opacity: 0.4;
}


.main-script::before {
	background: url('images/Script Icon.png') no-repeat center center / auto 120%;
	opacity: 0.4;
}
.main-script::after {
	background-color: #111;
	z-index: -2;
}


.main-evidence::before {
	transform: translateX(27%);
	background: url('images/Evidence Icon.png') no-repeat center right / auto 225%;
	opacity: 0.4;
}
.main-evidence::after {
	background-color: #4F4F4F;
	z-index: -2;
}


.main-ds::before {
	transform: translateX(-35%) translateY(-25px);
	height: calc(100% + 25px); 
	image-rendering: pixelated;
	background: url('/DS/Characters/ZE - 999/June/Normal.gif') no-repeat top left / auto 200%;
	opacity: 0.8;
}
.main-ds::after {
	image-rendering: pixelated;
	background: url('/DS/Backgrounds/ZE - 999/Hospital.png') no-repeat center left / 100% auto;
	opacity: 0.4;
	z-index: -2;
}
